body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -2px -2px 2px rgb(189, 188, 188) inset;
}

nav > div {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav > div > :first-child {
    height: 50px;
}

h1 {
    font-size: 40px;
    margin: 0;
    width: 300px;
}

.main-body { 
    background-color: rgb(252, 242, 228);
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    flex-grow: 1;
    position: relative;
    /* align-items: center; */
}

.sub-header-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

#add-book {
    height: 45px;
    width: 130px;
    border-style: none;
    border-radius: 10px;
    background-color: red;
    color: whitesmoke;
    font-size: 20px;
    box-shadow: 2px 2px 1px rgb(202, 193, 179);
}

form {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 0;
    transition: height 1s ease;
    overflow: hidden;
    background-color: rgb(226, 219, 209);
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    z-index: 2;
}

legend {
    font-size: 25px;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 190px;
    align-items: center;
    gap: 5px;
    padding: 0px 10px 15px 10px;
    background-color: rgb(252, 242, 228);
    border-radius: 10px;
}

fieldset > :not(:nth-child(4)) {
    flex-direction: column;
}

fieldset > :not(:nth-child(4)),
fieldset > :nth-child(4),
fieldset > :nth-child(4) > div {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

fieldset > :nth-child(4) {
    height: 30px;
}

fieldset > :last-child > div {
    margin-top: 5px;
}

input[type='radio'] {
    margin: 0;
}

#submit-new-book {
    height: 25px;
}

form.active {
    height: 220px;
}

.shelf {
    display: grid;
    grid-template-columns: repeat(5,212px);
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: row;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.bookcard {
    height: 250px;
    width: 200px;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.bookcard > p {
    margin: 5px;
}

#remove-book {
    position: absolute;
    bottom: 50%;
    right: 35%;
    padding: 5px;
    text-align: center;
}

#add-book:hover {
    background-color: rgb(211, 4, 4);
}