body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.main-body { 
    background-color: rgb(252, 242, 228);
    padding: 5px;
    height: calc(100vh - 15px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > div {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav > div > :first-child {
    height: 50px;
}

h1 {
    font-size: 40px;
    margin: 0;
    width: 300px;
}

#add-book {
    height: 45px;
    width: 130px;
    border-style: none;
    border-radius: 10px;
    background-color: red;
    color: whitesmoke;
    font-size: 20px;
    box-shadow: 2px 2px 1px rgb(202, 193, 179);
}

form {
    display: flex;
    text-align: center;
    justify-content: center;
}

legend {
    font-size: 25px;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    gap: 5px;
    padding: 0px 10px 15px 10px;
}

fieldset > :not(:nth-child(4)) {
    flex-direction: column;
}

fieldset > :not(:nth-child(4)),
fieldset > :nth-child(4),
fieldset > :nth-child(4) > div {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

fieldset > :nth-child(4) {
    height: 30px;
}

fieldset > :last-child > div {
    margin-top: 5px;
}

input[type='radio'] {
    margin: 0;
}

#submit-new-book {
    height: 25px;
}

.shelf {
    display: flex;
    gap: 5px;
    margin-top: 5px;
    justify-content: center;
}

.bookcard {
    height: 250px;
    width: 200px;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bookcard > p {
    margin: 5px;
}

#add-book:hover {
    background-color: rgb(211, 4, 4);
}